.grid {
  display: inline-block;
  width: 100%;
  @media screen and (width >= 993px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    min-height: 150px;
  }
}
.items {
  margin-bottom: 0;
  border-radius: 16px;
  min-height: 160px;
  padding: 15px;
  @media screen and (width >= 993px) {
    margin-bottom: 20px;
  }
}
.item1 {
  background-color: var(--color-light-green);
  grid-area: 1 / 1 / 3 / 2;
  & strong {
    color: var(--color-green);
  }
}
.item2 {
  grid-area: 1 / 2 / 3 / 4;
  background-color: var(--color-light-yellow);
  & strong {
    color: var(--color-yellow);
  }
}
.item3 {
  grid-area: 1 / 4 / 2 / 6;
  background-color: var(--color-light-red);
  & strong {
    color: var(--color-red);
  }
}
.item4 {
  grid-area: 2 / 4 / 3 / 6;
  background-color: var(--color-light-royal);
  & strong {
    color: var(--color-royal);
  }
}
