.main {
  width: 100%;
  height: 100vh;
  padding-top: var(--header-mobile-height);
  padding-bottom: 10px;
  overflow-y: auto;
  position: fixed;
  z-index: 10;
  @media screen and (width >= 993px) {
    padding-top: var(--header-height);
  }
}
.expanded {
  width: 100%;
  padding: var(--header-mobile-height) 0 80px;

  @media screen and (width >= 993px) {
    padding-top: var(--header-height);

    padding-left: var(--navbar-expanded);
    transition: var(--add-transition);
    padding-bottom: 0;
  }
}

.collapsed {
  width: 100%;
  padding: var(--header-mobile-height) 0 80px;
  @media screen and (width >= 993px) {
    padding-top: var(--header-height);
    padding-left: var(--navbar-collapsed);
    transition: var(--add-transition);
  }
}
