.navBar {
  width: 100%;
  bottom: 0;
  list-style: none;
  padding-top: 10px;
  justify-content: space-around;
  flex-direction: row;
  height: 80px;
  background-color: var(--color-white);
  border-top: 1px solid #f4f5f6;
  display: inline-block;
  @media screen and (width >= 993px) {
    padding-top: 100px;
    height: 100vh;
    position: fixed;
    width: 100%;
    display: flex;
    background-color: var(--color-white);
    box-shadow: var(--shadow);

    display: inline-block;
  }

  .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    @media screen and (width >= 993px) {
      display: inline-block;
      width: 100%;
    }
    .items {
      flex-basis: 50px;
      margin: 0;
      text-align: center;
      @media screen and (width >= 993px) {
        text-align: left;

        vertical-align: middle;
        margin-bottom: 10px;
      }

      .item {
        border-radius: 10px;
        padding: 0;
        width: 100%;
        @media screen and (width >= 993px) {
          padding: 10px 15px;
          display: flex;
        }
        .icon {
          display: inline-block;
          min-width: var(--icon-size);
          min-height: var(--icon-size);
          @media screen and (width >= 993px) {
            margin-right: 10px;
            vertical-align: bottom;
            padding: 0;
            width: var(--icon-size);
            height: var(--icon-size);
          }
        }

        .title {
          transform-origin: left;
          font-size: 0.8rem;
          @media screen and (width >= 993px) {
            font-size: 1rem;
            transition: var(--add-transition);
          }
        }
      }
    }
  }
  &.collapsed {
    @media screen and (width >= 993px) {
      max-width: var(--navbar-collapsed);

      transition: var(--add-transition);
      .list {
        padding-left: 10px;
        padding-right: 10px;
        .items {
          .item {
            display: flex;
            padding-left: 0;
            padding-right: 0;
            align-items: center;

            .icon {
              margin-right: 0;
              left: 0;
              @media screen and (width >= 993px) {
                position: relative;
                left: 4px;
              }
            }
            .title {
              transform-origin: left;
              transform: scaleX(0);
              transition: var(--add-transition);
            }
          }
        }
      }
    }
  }
  &.expanded {
    max-width: 100%;
    @media screen and (width >= 993px) {
      max-width: var(--navbar-expanded);
      transition: var(--add-transition);
      padding-left: 20px;
      padding-right: 20px;
      .list {
        .items {
          .item {
            .title {
              transform-origin: left;
              transform: scaleX(1);
              transition: var(--add-transition);
            }
          }
        }
      }
    }
  }
}
